<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<array>
		<dict>
			<key>https://map-uat.metlife.com.cn/images/common/dist.zip</key>
			<string></string>
		</dict>
		<dict>
			<key>curAppVersion</key>
			<dict>
				<key>curVersionFlag</key>
				<true/>
				<key>downloadUrl</key>
				<string>https://sit.tohours.com/eopening/zip/version_1.00.ipa</string>
				<key>forceUpdateFlag</key>
				<true/>
				<key>id</key>
				<string>B1</string>
				<key>insertTime</key>
				<dict>
					<key>date</key>
					<integer>9</integer>
					<key>day</key>
					<integer>3</integer>
					<key>hours</key>
					<integer>18</integer>
					<key>minutes</key>
					<integer>7</integer>
					<key>month</key>
					<integer>0</integer>
					<key>seconds</key>
					<integer>0</integer>
					<key>time</key>
					<integer>1547028420000</integer>
					<key>timezoneOffset</key>
					<integer>-480</integer>
					<key>year</key>
					<integer>119</integer>
				</dict>
				<key>type</key>
				<string>APP</string>
				<key>unzipPwd</key>
				<string></string>
				<key>upatedesc</key>
				<string>app更新描述1.00</string>
				<key>updateTime</key>
				<dict>
					<key>date</key>
					<integer>9</integer>
					<key>day</key>
					<integer>3</integer>
					<key>hours</key>
					<integer>18</integer>
					<key>minutes</key>
					<integer>7</integer>
					<key>month</key>
					<integer>0</integer>
					<key>seconds</key>
					<integer>0</integer>
					<key>time</key>
					<integer>1547028420000</integer>
					<key>timezoneOffset</key>
					<integer>-480</integer>
					<key>year</key>
					<integer>119</integer>
				</dict>
				<key>version</key>
				<string>1.00</string>
			</dict>
			<key>curH5Version</key>
			<dict>
				<key>curVersionFlag</key>
				<true/>
				<key>downloadUrl</key>
				<string>https://map-uat.metlife.com.cn/images/common/dist.zip</string>
				<key>forceUpdateFlag</key>
				<true/>
				<key>id</key>
				<string>A1</string>
				<key>insertTime</key>
				<dict>
					<key>date</key>
					<integer>9</integer>
					<key>day</key>
					<integer>3</integer>
					<key>hours</key>
					<integer>18</integer>
					<key>minutes</key>
					<integer>7</integer>
					<key>month</key>
					<integer>0</integer>
					<key>seconds</key>
					<integer>0</integer>
					<key>time</key>
					<integer>1547028420000</integer>
					<key>timezoneOffset</key>
					<integer>-480</integer>
					<key>year</key>
					<integer>119</integer>
				</dict>
				<key>type</key>
				<string>H5</string>
				<key>unzipPwd</key>
				<string>123</string>
				<key>upatedesc</key>
				<string>h5更新描述1.00</string>
				<key>updateTime</key>
				<dict>
					<key>date</key>
					<integer>9</integer>
					<key>day</key>
					<integer>3</integer>
					<key>hours</key>
					<integer>18</integer>
					<key>minutes</key>
					<integer>7</integer>
					<key>month</key>
					<integer>0</integer>
					<key>seconds</key>
					<integer>0</integer>
					<key>time</key>
					<integer>1547028420000</integer>
					<key>timezoneOffset</key>
					<integer>-480</integer>
					<key>year</key>
					<integer>119</integer>
				</dict>
				<key>version</key>
				<string>1.00</string>
			</dict>
			<key>curVersion</key>
			<string>1.00</string>
			<key>h5FullPackage</key>
			<dict>
				<key>downloadUrl</key>
				<string>https://map-uat.metlife.com.cn/images/common/dist.zip</string>
				<key>unzipPwd</key>
				<string>123</string>
			</dict>
			<key>h5VersionHistory</key>
			<array>
				<dict>
					<key>curVersionFlag</key>
					<true/>
					<key>downloadUrl</key>
					<string>https://map-uat.metlife.com.cn/images/common/dist.zip</string>
					<key>forceUpdateFlag</key>
					<true/>
					<key>id</key>
					<string>A1</string>
					<key>insertTime</key>
					<dict>
						<key>date</key>
						<integer>9</integer>
						<key>day</key>
						<integer>3</integer>
						<key>hours</key>
						<integer>18</integer>
						<key>minutes</key>
						<integer>7</integer>
						<key>month</key>
						<integer>0</integer>
						<key>seconds</key>
						<integer>0</integer>
						<key>time</key>
						<integer>1547028420000</integer>
						<key>timezoneOffset</key>
						<integer>-480</integer>
						<key>year</key>
						<integer>119</integer>
					</dict>
					<key>type</key>
					<string>H5</string>
					<key>unzipPwd</key>
					<string>123</string>
					<key>upatedesc</key>
					<string>h5更新描述1.00</string>
					<key>updateTime</key>
					<dict>
						<key>date</key>
						<integer>9</integer>
						<key>day</key>
						<integer>3</integer>
						<key>hours</key>
						<integer>18</integer>
						<key>minutes</key>
						<integer>7</integer>
						<key>month</key>
						<integer>0</integer>
						<key>seconds</key>
						<integer>0</integer>
						<key>time</key>
						<integer>1547028420000</integer>
						<key>timezoneOffset</key>
						<integer>-480</integer>
						<key>year</key>
						<integer>119</integer>
					</dict>
					<key>version</key>
					<string>1.00</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
